body {
  font-family: Arial, sans-serif;
  background-color: #181818;
  color: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  padding: 10px 20px;
  position: fixed;
  width: 97%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar-menu a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 80px 20px 20px; /* Add top padding to avoid overlap with navbar */
}

.book {
  margin: 10px;
  text-align: center;
  width: 150px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative;
}

.book img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.book:hover img {
  transform: scale(1.05);
}

.book p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
}
